[Desktop Entry]
Icon=text-html
Name=Forensik-Tools
Type=Link
URL[$e]=https://drive.google.com/file/d/1b59qshVSrsDETbnhqHgJZlC9pZKJi1gv/view?usp=sharing
