[Desktop Entry]
Icon=text-html
Name=Test_Forensik_VM
Type=Link
URL[$e]=https://d3c33hcgiwev3.cloudfront.net/SqtFJpfARla3iXXyIG-DTw_0aa85d4b6ba74d55b26dc723b0b780f1_Windows-Registry-Forensics-VM.zip?Expires=1706313600&Signature=U7o52SO5MP20mB8L0jwfCocjIIyrT8y5fsP1KY-O39Rg4kf~ScmwaNzvo2rFVOYiaOiPZUNuLrM4TboI5KKjWOrY0NNoRm0KZJC4f6TaqP6FZcKfJMnW4oaQARnv01Kqk030wkCQJWNiCDyH9f8Vylr9wgmPWoV-VcxucG-sO8g_&Key-Pair-Id=APKAJLTNE6QMUY6HBC5A
