[Desktop Entry]
Icon=text-html
Name=Windows_Registry_Downloads
Type=Link
URL[$e]=https://d3c33hcgiwev3.cloudfront.net/JA4hbiifTlm2PX8r9J8Y6w_1e08fbea7e0645eb85a4a87aa3be38f1_Windows-Registry_Downloads.zip?Expires=1706313600&Signature=LHtXGadsHGlDYiTXfgSUVIwrFxLH5TnPmKACAxYRdUwyTFUnjym73qOJ2FTT0v-B-VfTqKB7yooehFss6GyOTnfM6JqbeUMpGad4oKxTwB3j~eZEZH~aQUCc1Qsn~TxaJ8bPa34mu6s9gYDxEGCdABiznFk~dQQlPKIFXHK7ysY_&Key-Pair-Id=APKAJLTNE6QMUY6HBC5A
